@font-face {
    font-family: myFirstFont;
    src: url(HomemadeApple-Regular.ttf);
    font-weight: bold;
}

body {
    font: 15px/1.5 Avenir Next;
    margin: 0px;
    padding: 0px;
    background-image: url(Group_5.svg);
    background-size: 2000px 2800px;
}


/* MENU STYLES */

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hamburger Line */

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Hamburger Lines - Top & Bottom */

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}


/* Moves Line Down */

.menu-wrap .hamburger>div::after {
    top: 10px;
}


/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}


/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


/* Show Menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: black;
    border-radius: 50%;
    width: 120vw;
    height: 120vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0 ease;
    opacity: 90%;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: fadeIn 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: orange;
    text-decoration: none;
    transition: fadeIn 0.2s ease;
}

.menu-wrap .menu>div>div>ul>li>a:hover {
    color: red;
}


/* firststep */

#firststep {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 87%;
    transform: skewY(-6deg);
    transform-origin: top left;
}

#firststep .heading {
    display: flex;
    font-family: myFirstFont;
    font-size: 10vw;
    justify-content: center;
    padding: 15% 0 0;
    transform: skewY(6deg);
    background-image: linear-gradient(to right, rgba(4, 233, 233, 0.89) 40%, #550575 60%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#firststep .heading_2 {
    display: flex;
    margin-top: -2%;
    font-size: 4.5vw;
    font-weight: 200;
    justify-content: center;
    transform: skewY(6deg);
    background-image: linear-gradient(to right, #550575 40%, rgba(4, 233, 233, 0.89) 60%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: -4%;
}

#firststep p {
    font-size: medium;
    display: flex;
    justify-content: center;
    transform: skewY(6deg);
    color: rgba(4, 233, 233, 0.89);
    margin-left: -4%;
}

.heading {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.heading_2 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 250ms;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#firststep p {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* skills-bar */

#professional-skills-bar {
    padding: 2%;
    padding-left: 5%;
    display: flex;
}

.skill-bar {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    background-image: linear-gradient(to right, #550575 0%, rgba(4, 233, 233, 0.89) 60%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/* skills */

#skills p {
    font-weight: 450;
    font-size: 1vw;
    margin-top: 0.25%;
}

#skills .skills_class {
    width: 50%;
    padding-left: 5%;
}

@keyframes load {
    from {
        width: 0%
    }
}

@-webkit-keyframes load {
    from {
        width: 0%
    }
}

@-moz-keyframes load {
    from {
        width: 0%
    }
}

@-o-keyframes load {
    from {
        width: 0%
    }
}

.bar {
    font-size: 0px;
    border-radius: 30px;
}

.bar::before {
    content: attr(data-skill);
    background-image: linear-gradient(to right, #550575 0%, rgba(50, 235, 235, 0.89) 60%);
    display: inline-block;
    padding: 3.5px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.expert::before {
    width: calc(100% - 10px);
}

.bar.moderate::before {
    width: calc(98% - 10px);
}

.bar.intermediate::before {
    width: calc(88% - 10px);
}

.bar.advanced::before {
    width: calc(86% - 10px);
}

.bar.learning::before {
    width: calc(80% - 10px);
}

.bar.learning::before {
    width: calc(80% - 10px);
}


/* about bar */

.about {
    display: flex;
    padding: 2%;
    padding-left: 5%;
    font-size: 25px;
    font-weight: 500;
    background-image: linear-gradient(to right, #550575 40%, rgba(4, 233, 233, 0.89) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* about contents */

#about {
    margin-top: 5%;
    display: flex;
    align-items: center;
    background-color: black;
    opacity: 87%;
}

#about .about__bg {
    display: flex;
    width: 70%;
    margin-left: auto;
    font-weight: 250;
    font-size: medium;
}

.sidebar1 {
    display: flex;
    color: rgba(117, 231, 231, 0.89);
    text-align: justify;
    padding: 20px 20px;
    margin-left: auto;
}

.sidebar2 {
    display: flex;
    color: rgba(119, 255, 255, 0.89);
    text-align: justify;
    padding: 20px 20px;
    margin-right: auto;
}


/* Contact */

#contact {
    height: 10vw;
}

#contact .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    background: white;
    margin-top: 3%;
}

#contact p {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    background-image: linear-gradient(to right, #550575 0%, rgba(4, 233, 233, 0.89) 60%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    align-self: center;
}

.btn.pill img {
    padding: 3px;
    height: 20px;
    width: 20px;
}

#contact .btn {
    text-decoration: none;
    font-weight: light;
    padding: 0 25px;
    line-height: 3px;
    height: auto;
    display: inline-block;
    background: transparent;
}

#contact .btn:hover {
    background-image: linear-gradient(to right, black 0%, rgb(57, 241, 226) 50%, black 100%);
    opacity: 100%;
    transform: rotate(360deg);
    transition-duration: 2s;
}

#contact .btn-group {
    display: flex;
    justify-content: center;
}

.btn.pill {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 19px;
}

.btn-group>.btn.round:not(:first-child):not(:last-child),
.btn-group>.btn.pill:not(:first-child):not(:last-child) {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-group>.btn.round:first-child,
.btn-group>.btn.pill:first-child {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group>.btn.round:last-child,
.btn-group>.btn.pill:last-child {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group .btn+.btn {
    border-left: 1px solid rgba(0, 0, 0, .1);
    margin-left: -1px;
}


/* footer */

footer {
    background: black;
    opacity: 87%;
    color: rgb(39, 176, 218);
    padding: 10px;
    width: auto;
    margin-top: 0px;
    text-align: center;
}